.btn {
  border-radius: 100px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

/* Button for smaller screens */

@media screen and (max-width: 480px) {
  .btn {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .btn {
    font-size: 10px;
  }
}
