.content-container {
  height: 100vh;
}

.scrollable-contents {
  overflow-y: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  display: none;
}

.carousel-indicators{
  display: none;
}

