/* Education.css */

/* Container styles */
.edu-cont {
  background-color: #f9f9f9; /* Background color for the container */
  padding: 20px;
  border-radius: 5px; /* Rounded corners for the container */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for the container */
}

/* Timeline styles */
.timeline {
  position: relative;
}

/* Line styles */
.line {
  position: absolute;
  background-color: #28a745; /* Line color */
  width: 2px;
  height: 85%; /* Full height of the container */
  left: 5%; /* Center the line horizontally */
  transform: translateX(-50%);
}

/* Bead styles */
.bead {
  background-color: #28a745; /* Bead color */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 2; /* Align beads to the top of the container */
  left: 5%; /* Center beads horizontally */
  transform: translateX(-50%); /* Adjust for centering */
}

/* Section styles */
.section {
  padding: 20px;
  margin-left: 10px; /* Spacing between sections */
}

/* Content styles within each section */
.content {
  margin-left: 30px; /* Spacing between beads and content */
}

.education-date {
  font-weight: bold;
  margin-top: 5px;
}

.text-body {
  color: #c9d1d9;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .timeline {
    padding: 20px 0; /* Padding for the timeline container */
  }
  .line {
    left: 0; /* Center the line horizontally */
  }
  .bead {
    left: 0; /* Center beads horizontally */
  }
  .section {
    margin-left: 0; /* Spacing between sections */
  }
  .content {
    margin-left: 30px; /* Spacing between beads and content */
  }
}

/* Media queries - Responsive timeline on screens less than 480px wide */

@media screen and (max-width: 480px) {
  .timeline {
    padding: 20px 0; /* Padding for the timeline container */
  }
  .line {
    left: 0; /* Center the line horizontally */
  }
  .bead {
    left: 0; /* Center beads horizontally */
  }
  .section {
    margin-left: 0; /* Spacing between sections */
  }
  .content {
    margin-left: 30px; /* Spacing between beads and content */
  }
}

