/* Education.css */

/* Container styles */
.edu-cont {
  background-color: #f9f9f9; /* Background color for the container */
  padding: 20px;
  border-radius: 5px; /* Rounded corners for the container */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for the container */
}

/* Top section styles */
.top-section {
  text-align: center;
}

/* Timeline styles */
.timeline {
  position: relative;
}

/* Line styles */
.line {
  position: absolute;
  background-color: rgb(116, 227, 176); /* Line color */
  width: 2px;
  height: 60%; /* Full height of the container */
  left: 5%; /* Center the line horizontally */
  transform: translateX(-50%); /* Adjust for centering */
}

/* Bead styles */
.bead {
  background-color: rgb(116, 227, 176); /* Bead color */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0; /* Align beads to the top of the container */
  left: 5%; /* Center beads horizontally */
  transform: translateX(-50%); /* Adjust for centering */
}

/* Section styles */
.section {
  padding: 20px;
  margin-left: 10px; /* Spacing between sections */
}

/* Content styles within each section */
.content {
  margin-left: 30px; /* Spacing between beads and content */
}

.education-date {
  font-weight: bold;
  margin-top: 5px;
}

.text-body{
  color: #C9D1D9;
}