.card {
  color: #fff;
  background: rgba(4, 4, 4, 0.55);
  box-shadow: 0 8px 32px 0 rgb(2, 7, 19);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.192);
}

.mypic {
  width: 60%;
  object-fit: cover;
  border-radius: 30px;
}

.social-icons {
  display: flex;
  flex-direction: row;
}

.icons-container {
  color: #b8b5b5;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 40px;
  height: 40%;
  border-radius: 50%;
  background-color: inherit; /* Add the color you want for the circle background */
  margin-bottom: 10px;
  margin-left: 25px;
}

.icon {
  font-size: 24px; /* Adjust the font size to resize the icon */
  color: #9e9b9b;
}

.icon:hover {
  color: #fff;
}

.btn,
.btn-success {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.registered {
  display: inline-block;
  position: absolute;
  font-size: 20px;
  line-height: 1;
}

.registered::before {
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  font-size: 0.7em;
}

.text-sm-center {
  color: #fff;
}
