/* styles/FixedCard.css */
.fixed-card {
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: #161b22;
  color: #c9d1d9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
  object-fit: cover;
}

.text-body-primary {
  margin-top: 10px;
  color: #c9d1d9;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.icon-link:hover {
  background-color: #161b22;
}

.btn {
  margin-top: 20px;
  width: 100%;
}

/* Styling for the shorthand "K" symbol */
.custom-shorthand-k {
  font-size: 0.8em;
  position: relative;
}

.custom-shorthand-k::after {
  content: "y";
  font-size: 0.5em;
  position: absolute;
  margin: 0px 0 0 25px;
  top: -0.2em;
  right: -1em;
  border: 1px solid #c9d1d9;
  border-radius: 25px;
  padding: 0.9px;
}

.card {
  color: #c9d1d9;
  border-color: #161b22;
  background-color: #0d1117;
}
