/* styles/FixedCard.css */
.fixed-card {
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-title {
  margin-top: 30px;
  
}

.mypic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
  object-fit: cover;
}

.text-body-secondary {
  margin-top: 10px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #666;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.icon-link:hover {
  background-color: #444;
}

.btn {
  margin-top: 20px;
  width: 100%;
}


/* Styling for the shorthand "K" symbol */
.custom-shorthand-k {
  font-size: 0.8em;
  position: relative;
  
}

.custom-shorthand-k::after {
  content: "Y";
  font-size: 0.5em;
  position: absolute;
  margin: 0px 0 0 25px;
  top: -0.2em;
  right: -1em;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 2px;
}
