.card {
  width: 18rem;
  margin: 10%;
}

.mypic{
  width: 50%;
  object-fit: cover;
  border-radius: 70px;
}

.social-icons {
  display: flex;
  flex-direction: row;
}

.icons-container {
  color: #b8b5b5;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: inherit; /* Add the color you want for the circle background */
  margin-bottom: 10px;
  margin-left: 25px;
}

.icon {
  font-size: 24px; /* Adjust the font size to resize the icon */
  color: #9e9b9b;
}

.icon:hover {
  color: #fff;
}

.btn,
.btn-success {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.registered{
  display: inline-block;
  position: absolute;
  font-size: 20px;
  line-height: 1;
}

.registered::before{
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  font-size: 0.7em;
}

.text-sm-center{
  color: #fff;
}

