.skills {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  align-content: center;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #ccc;
  font-size: 30px;
  position: relative;
}

.percentage {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  color: rgb(117, 230, 178);
}
