.language {
  text-align: center;
}

/* Styling the skills section four on a row */
.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  margin-top: 24px;
  justify-content: center;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 0.1px solid #ccc;
  font-size: 30px;
  position: relative;
}

.circle:hover {
  border: 1px solid rgb(117, 230, 178);
}

.percentage {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  color: rgb(117, 230, 178);
}

@media screen and (max-width: 960px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .circle {
    width: 80px;
    height: 80px;
    font-size: 24px;
  }

  .percentage {
    font-size: 12px;
  }

  .skills {
    padding: 8px;
  }

  .skills h1 {
    font-size: 16px;
  }

  .skills p {
    font-size: 12px;
  }

  .skills i {
    font-size: 16px;
  }
}
