.card-title{
   margin-top: 24px;
}

.card-special-container{
   margin-top: 24px;
}

.card-special-container > div{
   margin-top: 12px;
}

.card-special-container:hover{
   border: 1px solid rgb(117, 230, 178)
}

.fa-ico{
   font-size: 8px;
   border: 1px solid rgb(255, 255, 255);
   border-radius: 50px;
   padding: 4px;
}