.app {
  display: flex;
}

.left {
  /* Your styles for the left content cards */
  margin-left: 24px;
  margin-top: 200px;
  flex: 1;
}

.right {
  /* Your styles for the right content cards */
  flex: 2;
}
