.app {
  display: flex;
}

.left {
  /* Your styles for the left content cards */
  flex: 1;
  margin-right: 2rem;
  margin-top: 2rem;
}

.right {
  /* Your styles for the right content cards */
  flex: 2;
}
